# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=test
DB_PASSWORD=test
DB_NAME=postgres
DB_SSLMODE=disable

# Server Configuration
PORT=8080
GIN_MODE=debug

# JWT Configuration
JWT_SECRET=AANmjnkH0q6f5g9KASpjq6r6Arj0OHHnNhdYPrChFvX8pf1okVESyCPrex9SMBQcLBPNEEvMdGDLyiMPhVkcXg==
